body, html {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

* {
  font-family: 'Raleway', sans-serif !important;
}

header {
  padding: 5px 20px;
  font-family: 'Raleway', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
}

.header-logo {
  flex: 1;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  order: 2;
  font-family: 'Raleway', sans-serif;
}

/* NAVBAR */
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #C5381D;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.navbar-custom {
  background-color: transparent; /* Sin fondo */
  font-family: 'Raleway', sans-serif;
}

.navbar-nav {
  justify-content: space-evenly; /* Espaciado uniforme entre elementos */
  width: 100%; /* Para centrar y extender elementos en la barra de navegación */
  font-family: 'Raleway', sans-serif;
}

.navbar-nav a {
  color: #1B5258;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.nav-item .nav-link {
  padding: 0.5em 1em; /* Ajuste de espacio alrededor de los enlaces */
  font-family: 'Raleway', sans-serif;
}

.navbar-toggler {
  margin-right: 20px; /* Espacio entre el logo y el menú hamburguesa */
  font-family: 'Raleway', sans-serif;
}

/* carrusel */
.carousel,
.carousel-inner,
.carousel-item {
  font-family: 'Raleway', sans-serif;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Raleway', sans-serif;
}

.carousel-caption .display-4,
.carousel-caption .lead,
.carousel-caption .btn-success {
  font-family: 'Raleway', sans-serif;
}

.carousel-caption .btn-success {
  background-color: #C5381D; /* Color personalizado */
  color: #ffffff; /* Color del texto */
  border: #C5381D;
}

.carousel-caption .btn.btn-success:hover {
  background-color: #922a15; /* Color al pasar el mouse */
}

@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-item {
    text-align: left;
  }
}

.quienes-somos .container .row{
  padding: 2.5rem;
}

/* FOOTER */

.footer .container h3,
.footer .container p {
    font-family: 'Raleway', sans-serif; /* Cambia el tipo de fuente según sea necesario */
    font-size: 1rem; /* Tamaño base del texto */
}
.footer{
  background-color: white;
  color:  #1B5258;
  padding: 0.5rem;
  margin-top: 1rem;
  border-top: 2px solid #1B5258; /* Línea de borde naranja en la parte superior del footer */

}

.footer .container .row{
  margin: 0
}
.footer p{
  font-size: 0.5rem;
}
/* .footer .imagen-logo {
  height: auto; 
  max-width: 10rem;
} */
.imagen-logo {
  margin: 0 auto; /* Centrar horizontalmente */
  display: block; /* Asegura que el margin: auto funcione */
  height: auto; 
  max-width: 7rem;
  margin: 0 0 0.5rem 0;
}
.imagen-logo-container {
  display: flex;
  flex-direction: column; /* Organizar los elementos en columna */
  align-items: center; /* Centrar horizontalmente */
  text-align: center; /* Alinear el texto al centro */
}