body, html {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
* {
  font-family: 'Raleway', sans-serif !important;
}
header {
  padding: 5px 20px;
  font-family: 'Raleway', sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
}
.header-logo {
  flex: 1;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  order: 2;
  font-family: 'Raleway', sans-serif;
}

/* NAVBAR */
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #C5381D;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
.navbar-custom {
  background-color: transparent; 
  font-family: 'Raleway', sans-serif;
}
.navbar-nav {
  justify-content: space-evenly; 
  width: 100%;
  font-family: 'Raleway', sans-serif;
}
.navbar-nav a {
  color: #1B5258;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
.nav-item .nav-link {
  padding: 0.5em 1em; 
  font-family: 'Raleway', sans-serif;
}
.navbar-toggler {
  margin-right: 20px; 
  font-family: 'Raleway', sans-serif;
}

/* carrusel */
.carousel,
.carousel-inner,
.carousel-item {
  font-family: 'Raleway', sans-serif;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Raleway', sans-serif;
}
.carousel-caption .display-4,
.carousel-caption .lead,
.carousel-caption .btn-success {
  font-family: 'Raleway', sans-serif;
}
.carousel-caption .btn-success {
  background-color: #C5381D;
  color: #ffffff;
  border: #C5381D;
}
.carousel-caption .btn.btn-success:hover {
  background-color: #922a15; 
}

@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-item {
    text-align: left;
  }
}
.quienes-somos .container .row{
  padding: 2.5rem;
}

/* FOOTER */

.footer .container h3,
.footer .container p {
    font-family: 'Raleway', sans-serif; 
    font-size: 1rem; 
}
.footer{
  background-color: white;
  color:  #1B5258;
  padding: 0.5rem;
  margin-top: 1rem;
  border-top: 2px solid #1B5258; 
}
.footer .container .row{
  margin: 0
}
.footer p{
  font-size: 0.5rem;
}
.imagen-logo {
  margin: 0 auto; 
  display: block;
  height: auto; 
  max-width: 7rem;
  margin: 0 0 0.5rem 0;
}
.imagen-logo-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

/* CONTACTO */
.container.custom-container {
  max-width: 600px; 
  border: 2px solid #1B5258;
  padding: 20px;
  border-radius: 10px; 
  
}
.form-container {
  background-color: white; 
  padding: 20px;
  border-radius: 5px;
  color: #1B5258;
}
.form-container .btn-primary {
  background-color: #C5381D; 
  border-color: #C5381D;
  color: white;
}
.form-container .btn-primary:hover {
  background-color: #922a15; 
  border-color: #922a15; 
}
.form-container .form-control {
  font-family: Arial, sans-serif; 
}


